<!DOCTYPE html>
<html lang="en">
  <head>
    <title>File Metadata</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
    <header>
      <h1>
        API Project: File Metadata Microservice
      </h1>
    </header>

    <main>
      <div class="text-center">
        <h4 id="output">Please Upload a File...</h4>
        <form enctype="multipart/form-data" method="POST" action="/api/fileanalyze">
          <input id="inputfield" type="file" name="upfile">
          <input class="button" id="button" type="submit" value="Upload">
        </form>
      </div>
    </main>
    
    <footer class="text-center">
      Made by <a href="https://www.github.com/Neveon">Neveon</a>!
    </footer>
    
  </body>
</html>
